
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
  }
  
  p {
    font-weight: bold;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212; 
    width: 100%;
    color: #FFFFFF; 
  }
  
  h1, h2, h3, h4 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal; 
  }
  
  